body {
    background-image: url(../assets/images/backgrounds/home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Open Sans';
    color: white;
    min-height: 100%;
    padding-bottom: 200px;
}



.chatroom-container {
    width: 20%;
    height: 100%;
}
